@charset "utf-8";

html{
    font-family: 'poppins';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    
    margin: 0;
    padding: 0;
    outline: none;
}


a:active,
a:hover{
    outline: 0;
}